.landing {
    background-image: url('/public/images/main-banner-bg.cb7bf167.png');
    background-size: cover;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.landing-title {
    text-align: center;
    margin-bottom: 20px;
}

.landing-title h1 {
    color: rgb(218, 216, 216);
}

.landing-searchbar {
    position: relative;
    width: 50%;
    /* max-width: 400px; */
}

#landing-searchbar-input {
    background-color: #16181e;
    border: 2px solid #805af5;
    color: white;
    width: 100%;
    border-radius: 10px;
    padding: 10px 40px 10px 10px; 
}

.landing-searchbar-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: white;
    background-color: #805af5;
    padding: 8px;
    border-radius: 50%;
}
.landing-clock-icon{
    color: white;
    background-color:transparent;
    padding: 8px;
    border-radius: 50%;
    border: 2px solid #805af5;
   
}
.landing-end-icon{
    display: flex;
    margin: 50px 0px 0px 0px;
   justify-content: space-between;
}
.landing-end-icon-item{
    margin: 0px 50px 0px 50px;
}
.landing-end-icon-item p{
    color: white;
}