/* استایل کلی هدر */
.Catgoury-header {
    background-color: #21242d;
    margin: 150px 0px 100px 0px;
    border: 2px solid #805af5;
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    align-content: baseline;

}

/* استایل برای منوی کشویی */
.Catgoury-header-menu {
    position: relative;
    border: 2px solid #805af5;
    padding: 10px;
    background-color: #16181e;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

/* استایل برای زیرمنو */
.Catgoury-header-sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #16181e;
    border: 2px solid #805af5;
    width: 100%;
    list-style: none;
    padding: 10px;
    border-radius: 4px;
}

.Catgoury-header-menu:hover .Catgoury-header-sub-menu {
    display: block;
}

/* استایل برای فیلد جستجو */
.search-container {
    position: relative;
    width: 250px;
}

.Catgoury-header-input {
    width: 100%;
    padding-left: 40px; /* فضای کافی برای آیکون */
    border: none;
    background-color: #16181e;
    color: white;
    border-radius: 4px;
    height: 40px;
}

/* آیکون جستجو */
.Catgoury-header-icon-search {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: white;
    cursor: pointer;
}
