.panel {
    margin: 150px 0px 150px 0px;
    color: white;
    height: 100vh;
    position: sticky;
    top: 0;
}

.panel-rigth {
    background-color: #16181e;
    border: 2px solid #805af5;
    padding: 10px;
}

.panel-rigth-title {
    padding: 5px;
    background-color: #6c618b;
    margin: auto;
    width: 50%;
    text-align: center;

}
.panel-menu-box{
    margin: 50px 0px 50px 0px;
}
.panel-menu li{
    padding: 10px;
}
.icon-panel{
    padding: 0px 0px 0px 10px;
}
.btn-exit{
    background-color: transparent;
    color: white;
    border: none;
}