* {
    box-sizing: border-box;
}

.header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.minbox-header {
    display: flex;
    background: #16181e;
    justify-content: space-between;
    align-items: baseline;
}

ul li {
    color: white;
    list-style-type: none;
}

.menu-header {
    display: flex;
    align-content: baseline;
}

.menu-header li {
    padding: 15px;
}

.nav-left {
    display: flex;
    padding: 10px;
}

.left-nav_search_icon {
    margin: 15px;
}

.nav_search_icon {
    color: white;
    border: 2px solid #805af5;
    padding: 10px;
    border-radius: 8px;
}

.left-info {
    margin: 18px 0px 0px 0px;
}

.btn-res {
    display: none;
}

.btn-res button {
    background-color: transparent;
    border: none;
}

.btn-bars-res {
    border: 2px solid #311c3a;
    color: white;
    padding: 6px;
    border-radius: 8px;
    background-color: transparent;
}

.res-menu-box {
    transition: all 0.3s ease-in;
}

.res-menu {
    margin: -10px 0px 0px 0px;
    background: #16181e;
    height: 100vh;
    width: 30%;
    padding: 5px;
}

.menu-header li:hover {
    border-bottom: 2px solid #805af5;
}

.sub-menu {
    background-color: #16181e;
    padding: 0px;
    display: none;
    margin: 15px 0px 0px 0px;
    border-radius: 8px;
    border: 2px solid #805af5;
    position: absolute;
    
    z-index: 102; /* جلوگیری از تداخل با سایر عناصر */
}

.menu-header li:hover .sub-menu {
    display: block;
}

@media only screen and (max-width: 700px) {
    .show-menu {
        display: none;
    }

    .btn-res {
        display: block;
    }
}
