.log {
    display: flex;
    justify-content: center;
    margin: 150px auto 150px auto;
    background-color: #21242d;
    padding: 15px;
    color: white;
    text-align: center;
    border-radius: 8px;
    border: 2px solid #805af5;
}

.log-ri {
    display: flex;
    padding: 20px;
}

.log-ri-btn {
    border: none;
    background-color: #5b5b5d;
    border-radius: 10px;
    font-size: 10px;
    width: 23.5%;
    height: 10%;
    margin: 0px auto;
}
.loginform{
    display: flex;
    flex-direction: column;
}
.log input{
    margin: 15px 0px 15px 0px;
}
.loginform-btn{
    background-color: #5b5b5d;
    border: none;
}
